main.hero {
  background-color: #495E57;
  margin: 0px auto;
}

article.hero {
  max-width: 860px;
  margin: 0px auto;

  max-height: 400px;

  display: flex;
  justify-content: space-between;
}

section.heroContent {
  width: 420px;
  min-width: 420px;

  padding: 30px 0px;
}

.heroContent h1.title {
  margin: 0px;

  font-family: 'Markazi Text', serif;
  font-size: 64px;
  line-height: 76px;
  font-weight: 400;
  color: #F4CE14
}

.heroContent h2.subtitle {
  margin: 0px;

  color: #FFFFFF;
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.heroContent p.description {
  margin: 0px;

  color: #FFFFFF;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}

.heroContent section.button {
  margin-top: 70px;
}

section.button {
  margin: auto 0px;
}

section.button button {
  margin: auto 0px;

  width: 200px;
  height: 60px;
  border-radius: 18px;
  border: none;

  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 21px;
}

section.heroImage {
  padding-top: 20px;
}

main.specials {
  max-width: 860px;
  margin: 90px auto 70px;
}

article.specials header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article.specials h1.title {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;

  margin: 0px;
}

article.specialCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 55px;
}

.special section.cardImage {
  height: 185px;
}

.special section.description {
  max-width: 265px;
  background-color: #EDEFEE;
}

section.nameAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p.price {
  padding: 20px 25px 20px 0px;
  margin: 0px;

  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #EE9972;
}

.special section.description h1 {
  padding: 20px 0px 20px 25px;
  margin: 0px;

  font-family: 'Markazi Text', serif;
  font-size: 24px;
  font-weight: 500;
}

.special section.description p.description {
  margin: 20px 25px;

  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.special section.description button.order {
  display: flex;
  flex-direction: row;
  gap: 12px;

  margin: 0px 25px;
  padding: 20px 0px;

  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  background-color: none;
  border: none;
  vertical-align: middle;
}

.special section.description button.order img {
  width: 20px;

  margin: auto 0px;
}

main.testimonials {
  background-color: #FDF4EE;
}

.testimonials article.section {
  max-width: 860px;
  margin: 0px auto;
}

.testimonials article.section h1 {
  font-family: 'Markazi Text', serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  color: #EE9972;
  text-align: center;

  padding: 120px 0px 60px;
  margin: 0px;
}

section.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 150px;
}

section.testimonial {
  width: 200px;
  height: 180px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.testimonial section.rating {
  display: flex;
  flex-direction: row;
  gap: 8px;

  margin: 25px 20px 20px;
}

.testimonial section.rating img {
  width: 16px;
}

.testimonial section.avatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 20px;
}

section.nameAndUsername h2 {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #333333;

  margin: 0px 8px;
}

section.nameAndUsername h3 {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #6E6F6E;

  margin: 0px 8px;
}

section.testimonial section.description p {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #6E6F6E;

  margin: 20px;
}

article.restaurantDescription {
  max-width: 860px;
  margin: 0px auto;

  display: flex;
  flex-direction: row;
  gap: 50px;
}

article.restaurantDescription section.text {
  max-width: 370px;
  width: 370px;

  margin: 120px 0px 20px;
}

article.restaurantDescription section.text h1 {
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;

  margin: 0px;
}

article.restaurantDescription section.text h2 {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;

  margin: 0px;
}

article.restaurantDescription section.text p {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  text-align: justify;
}

section.images img {
  margin: 120px 0px 20px;
}